/* causes issues for the moment. will also cause issues with headers etc revist later. */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.gameboard {
    border: 1.5px solid black;
    height: 450px;
    width: 330px;
    display: flex;
    flex-wrap: wrap;

}

.gameboard div {
    height: 30px;
    width: 30px;
}

.gameboard div img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.carL,
.carR {
    background-color: grey;
}

.logL,
.logR {
    background-color: blue;
}

.birdL,
.birdR {
    background-color: green;
}

.frog {
    background-image: url("images/frog1.png");
    background-size: cover;
    position: relative;
    z-index: 3;
}

/* want to rotate the cars but not quite working */
/* .carL.8,
.carL.4,
.carL.1,
.PcarL.11,
.PcarL.6,
.PcarL.3 {
    transform: rotate(180deg);
} */

h3 {
    color: red;
}