#gameboard {
    border: 1.5px solid black;
    height: 450px;
    width: 330px;
    display: flex;
    flex-wrap: wrap;
}

#gameboard div {
    height: 30px;
    width: 30px;
}

#gameboard div img {
    width: 100%;
    height: auto;
}

h3 {
    color: red;
}
/* not working consider just using 2 images for longer log
#gameboard logR9,
#gameboard logR3,
#gameboard logL2,
#gameboard logL6 {
    flex: none;
    width: 60px;
    height: 30px;
} */